body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 100%;
  background: #ddd;
}

.controlpanel header {
  width: 80%;
  background: #aaa;
}

.movies {
  width: 100%;
  overflow: hidden;
}

.movie {
  display: flex;
  flex-direction: column;
  width: 236px; /* hello, pinterest */
  overflow: hidden;
  margin: 5px 10px;
  box-shadow: 1px 1px 1px #888;
  border-radius: 10px;
}

.movie img {
  width: 236px;
  flex-grow: 1;
  border-radius: 10px 10px 0 0;
}

.movie .details {
  background: #eee;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.title-year {
  display: flex;
  justify-content: space-between;
}

.title-year div {
  display: inline-block;
}

.title {
  font-weight: bold;
}

a:link.imdb-link {
  color: #000;
}

a:visited.imdb-link {
  color: #888;
}

a:hover.imdb-link {
  color: #ddd;
}

a:active.imdb-link {
  color: #fff;
}

.year {
  font-weight: 100;
}

.director-wrapper {
  font-size: 90%;
  font-weight: 100;
}

.director-name {
  font-weight: normal;
}

.plot {
  margin-top: 0.25em;
  padding-top: 0.25em;
  border-top: 1px solid #888;
  font-size: 90%;
}
